.atoc {
    top: 50px;
    max-height: 400px;
    overflow: auto;
}

pre[class*="language-"] {
    max-height: 500px;
}

.markdown-section table{
    display: block;
}

.atoc li a:first{
    visibility: hidden;
}